@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: fix the minor font difference - seems to be weight */
/* NOTE: Two srcs for local dev and production */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  src: url("/itslive-web/mappin-build/fonts/NunitoSans-Regular.ttf") format("woff2");
  /* src: url("/fonts/NunitoSans-Regular.ttf") format("woff2"); */
}
#mappin-embed img,  #mappin-embed li, #mappin-embed ul {
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 0px 0px;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
#mappin-embed .icon {
    height: 20px !important;
    width: 20px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}
